trigger:
  batch: true
  branches:
    include:
      - main

pr:
  - main

resources:
  repositories:
    - repository: cnp-azuredevops-libraries
      type: github
      ref: refs/heads/master
      name: hmcts/cnp-azuredevops-libraries
      endpoint: 'hmcts'

parameters:
  - name: overrideAction
    type: string
    default: plan
    values:
      - plan
      - apply
      - destroy
  - name: environment_components
    type: object
    default:
      #TODO: Should these be deployed to thier own subs?
      - deployment: 'sbox_routes'
        environment: 'sbox'
        component: 'routes'
        service_connection: 'DTS-SHAREDSERVICES-SBOX'
        dependsOn: 'Precheck'
      - deployment: 'sbox_mgmt'
        environment: 'sbox'
        component: 'management'
        service_connection: 'DTS-SHAREDSERVICES-SBOX'
        dependsOn: 'sbox_routes'
      - deployment: 'sbox_landing'
        environment: 'sbox'
        component: 'landing'
        service_connection: 'DTS-SHAREDSERVICES-SBOX'
        dependsOn: 'sbox_mgmt'
      #- deployment: 'stg_routes'
      #  environment: 'stg'
      #  component: 'routes'
      #  service_connection: 'DTS-SHAREDSERVICES-STG'
      #  dependsOn: 'Precheck'
      #- deployment: 'stg_mgmt'
      #  environment: 'stg'
      #  component: 'management'
      #  service_connection: 'DTS-SHAREDSERVICES-STG'
      #  dependsOn: 'stg_routes'
      #- deployment: 'stg_landing'
      #  environment: 'stg'
      #  component: 'landing'
      #  service_connection: 'DTS-SHAREDSERVICES-STG'
      #  dependsOn: 'stg_mgmt'
      #- deployment: 'prod_routes'
      #  environment: 'prod'
      #  component: 'routes'
      #  service_connection: 'DTS-SHAREDSERVICES-PROD'
      #  dependsOn: 'Precheck'
      #- deployment: 'prod_mgmt'
      #  environment: 'prod'
      #  component: 'management'
      #  service_connection: 'DTS-SHAREDSERVICES-PROD'
      #  dependsOn: 'prod_routes'
      #- deployment: 'prod_landing'
      #  environment: 'prod'
      #  component: 'landing'
      #  service_connection: 'DTS-SHAREDSERVICES-PROD'
      #  dependsOn: 'prod_mgmt'

variables:
  - name: timeoutInMinutes
    value: 60
  - name: agentImage
    value: ubuntu-20.04
  - name: product
    value: dlrm-ingest
  - name: terraformInitSubscription
    value: 04d27a32-7a07-48b3-95b8-3c8691e1a263
  - template: vars/input-variables.yaml@cnp-azuredevops-libraries

stages:
  - stage: Precheck
    jobs:
      - job:
        pool: 
          vmImage: ${{ variables.agentImage }}
        steps:
          - template: steps/terraform-precheck.yaml@cnp-azuredevops-libraries
            parameters:
              keyvaultName: 'infra-vault-nonprod'
              keyvaultSecret: 'azure-devops-sp-token'
              serviceConnection: 'azurerm-sandbox'
              overrideAction: ${{ parameters.overrideAction }}

  - ${{ each deployment in parameters.environment_components }}:
    - stage: ${{ deployment.deployment }}
      dependsOn: ${{ deployment.dependsOn }}
      jobs:
        - job: TerraformPlanApply
          pool: hmcts-sds-ptl
          timeoutInMinutes: ${{ variables.timeoutInMinutes }}
          steps:
            - template: steps/terraform.yaml@cnp-azuredevops-libraries
              parameters:
                overrideAction: ${{ parameters.overrideAction }}
                environment: ${{ deployment.environment }}
                component: ${{ deployment.component }}
                serviceConnection: ${{ deployment.service_connection }}
                terraformInitSubscription: ${{ variables.terraformInitSubscription }}
                product: ${{ variables.product }}
                planCommandOptions:
                  -compact-warnings
